.game-bg-main {

    .bg-cover {
        background-image: url("../assets/bg.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        height: 100vh;
    }

}